
<div class="content">
    <div class="card">
        <form  class="card__form" [formGroup]="form" (submit)="login()">
            <span class="icon">
                <i class="fa-solid fa-chalkboard title"></i>
                <h1 class="poppins-medium title">LMS de estudio</h1>
            </span>
            <p class="text">Bienvenido a nuestra aula virtual</p>
            <p class="text">Inicia sesion para continuar</p>
            <div class="mt-3">
                <label for="username" class="form__label">Usuario</label>
                <input type="text" formControlName="username" id="username" class="form__input" placeholder="Usuario"  [ngClass]="{'input__invalid': isValidField('username')}">
                @if(isValidField('username')){    
                    <small class="text__invalid">{{getFieldError('username')}}</small>
                    }
            </div>
            <div class="mt-3">
                <label for="password" class="form__label">Contraseña</label>
                <input type="password"  formControlName="password" id="password" class="form__input" placeholder="Contraseña"  [ngClass]="{'input__invalid': isValidField('password')}">
                @if(isValidField('password')){    
                    <small class="text__invalid">{{getFieldError('password')}}</small>
                    }
            </div>
            <a [routerLink]="['/auth/register']">Crear una cuenta</a>
            <div class="mb-3">
                <button type="submit"  class="button button__primary">Acceder</button>
            </div>
        </form>
        <figure class="card__image">
            <img class="image" src="https://images.unsplash.com/photo-1610484826967-09c5720778c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imagen-estudio-en-casa">
        </figure>
    </div>
</div>
