<nav class="nav">
    <span class="icon">
        <i class="fa-solid fa-chalkboard title"></i>
        <h1 class="poppins-medium title">LMS de estudio</h1>
    </span>
    <span id="user"> <i class="fa-solid fa-user"></i> {{name}}</span>
    <div class="menu">
        <div class="menu__items">
            <a href="#" class="link">Inicio</a>
            <a href="#" class="link">Materias</a>
            <a href="#" class="link">Foros</a>
            <a href="#" class="link">Eventos</a>
            <a href="#" class="link">Biblioteca</a>
        </div>
       
        <a (click)="onLogout()" class="link"> <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
    </div>
</nav>